.title {
    display: flex;
    justify-content: center;
}

.features-grid {
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 1000px;
}

.features-container {
    flex: 1 1 40%;
}