<app-header></app-header>
<app-hero></app-hero>
<app-detailes />

<div class="title">
    <h2>مميزات المشروع</h2>
</div>
<div class="features-grid">
    <div class="features-container">
        <app-features icon="assets/rocket.svg" title="هنا عنوان فرعي"
            description="لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة لإظهار شكل الوثيقة.">
        </app-features>
    </div>
    <div class="features-container">
        <app-features icon="assets/rocket.svg" title="هنا عنوان فرعي"
            description="لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة لإظهار شكل الوثيقة.">
        </app-features>
    </div>
    <div class="features-container">
        <app-features icon="assets/rocket.svg" title="هنا عنوان فرعي"
            description="لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة لإظهار شكل الوثيقة.">
        </app-features>
    </div>
    <div class="features-container">
        <app-features icon="assets/rocket.svg" title="هنا عنوان فرعي"
            description="لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة لإظهار شكل الوثيقة.">
        </app-features>
    </div>
</div>
<app-contacts></app-contacts>
<app-footer></app-footer>