.footer {
    background-color: #E9EEF3;
    padding: 10px 20px;
    font-size: 14px;
    color: #6c757d;
}

.footer-rights {
    display: flex;
    flex: 1;
    gap: 15px;
    margin: 5px 0;
}

.footer-link {
    color: #6c757d;
    text-decoration: none;
}