<div class="contacts-container">


    <div class="background-pattern"></div>
    <div class="contact-us">
        <b>
            تواصل معنا
        </b>
    </div>
    <div class="contact-info">

        <div class="contact-item">
            <img src="assets/mail.svg" class="icon" alt="mail" />
            <div class="contact-details">
                <p class="contact-label">البريد الإلكتروني</p>
                <p class="contact-value">help&#64;company.sa

                    <img class="copy-icon" src="assets/copy.svg" alt="copy">

                </p>
            </div>
        </div>

        <div class="contact-item">
            <img src="assets/message.svg" class="icon" alt="message" />
            <div class="contact-details">
                <p class="contact-label">رسالة قصيرة</p>
                <p class="contact-value">000000000
                    <img class="copy-icon" src="assets/copy.svg" alt="copy">
                </p>
            </div>
        </div>

        <div class="contact-item">
            <img src="assets/call.svg" class="icon" alt="call" />
            <div class="contact-details">
                <p class="contact-label">رقم الجوال</p>
                <p class="contact-value">900000000
                    <img class="copy-icon" src="assets/copy.svg" alt="copy">


                </p>
            </div>
        </div>


    </div>

    <div class="contact-social">
        <p class="social-label">تابعنا على</p>
        <div class="social-icons">
            <span class="social-icon">
                <img src="assets/instagram.svg" alt="instagram">

            </span>
            <span class="social-icon">
                <img src="assets/linkedin.svg" alt="linkedin">

            </span>
            <span class="social-icon">
                <img src="assets/twitter.svg" alt="twitter">
            </span>
        </div>
    </div>
</div>