<div class="user-header">
    <div class="logo">
        <img src="assets/user-logo.svg" alt="Logo" />
    </div>

    <div class="nav-links">
        <a class="nav-link active">
            <img src="assets/home.svg" alt="Home Icon" class="icon" />
            الرئيسية
        </a>
        <a class="nav-link">
            <img src="assets/reports.svg" alt="Home Icon" class="icon" />
            التقارير</a>
        <a class="nav-link">
            <img src="assets/dashboard.svg" alt="Home Icon" class="icon" />
            لوحة التحكم</a>
    </div>


    <div class="user-actions">
        <div class="action-item">
            <img src="assets/translation.svg" alt="Translation Icon" class="icon" />
        </div>
        <div class="action-item">
            <img src="assets/user.svg" alt="User Icon" class="icon" />
        </div>
        <div class="action-item">
            <p>أحمد بدر</p>
            <span>مدير</span>
        </div>
        <div class="action-item">
            <img (click)="onLogoutClick()" src="assets/logout.svg" alt="Logout Icon" class="icon" />
        </div>
    </div>
</div>