.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    background-color: #FCFCFD;
    border-bottom: 1px solid #CED2DA;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.action-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.action-item span {
    font-size: 12px;
    color: #9DA4AE;
}

.action-item p {
    margin: 0;
}

.icon {
    width: 24px;
    height: 24px;
    color: #000;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px 15px;

}

.nav-link .icon {
    width: 20px;
    height: 20px;
}

.nav-link.active {
    color: #fff;
    background-color: #388e3c;
    padding: 10px 15px;
    border-radius: 5px;
}

.logo img {
    width: 50px;
}