<div class="header">
    <button class="login-btn">
        <img src="assets/rightArrow.svg" alt="Icon" class="icon">
        تسجيل دخول 
    </button>
    <div class="menu">
        <a href="#" class="menu-item">
            <span class="menu-border">
                تواصل معنا
            </span>

        </a>
        <a href="#" class="menu-item">ميزات</a>
        <a href="#" class="menu-item">عن المشروع</a>
        <a href="#" class="menu-item selected">
            <span class="menu-border">
                 الرئيسية
            </span>
        </a>
    </div>
    <div class="logo">Logo</div>
  </div>
  