.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #CED2DA;

    .logo {
        font-weight: bold;
        font-size: 24px;
        color: #388e3c;
    }

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;

        .menu-item {
            font-weight: bold;
            color: #333;
            padding: 15px 20px;

            &:hover {
                background-color: #f0f0f0;
                cursor: pointer;
                border-bottom: 5px solid gray;
            }

            &.selected {
                color: #fff;
                background-color: #388e3c;
                padding: 15px 20px;
                border-bottom: 5px solid #54C08A;
                border-radius: 5px;



            }
        }
    }

    .login-btn {
        display: flex;
        align-items: center;
        background-color: #388e3c;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .icon {
        color: #fff;
    }
}