<div class="header">
    <div class="logo">Logo</div>
    <div class="menu">
        <a href="#" class="menu-item selected">
            <span class="menu-border">
                الرئيسية
            </span>
        </a>
        <a href="#" class="menu-item">عن المشروع</a>
        <a href="#" class="menu-item">ميزات</a>
        <a href="#" class="menu-item">
            <span class="menu-border">
                تواصل معنا
            </span>
        </a>

    </div>
    <button (click)="onLoginClick()" class="login-btn">
        <span>
            تسجيل دخول
        </span>
        <img src="assets/rightArrow.svg" alt="Icon" class="icon">
    </button>
</div>