<div class="wrapper">
    <div class="flex-container">
        <div class="box">الرئيسية
            <div class="divider"></div>

        </div>
        <div class="box">المميزات
            <div class="divider"></div>

        </div>
        <div class="box">الاتصال والدعم
            <div class="divider"></div>

        </div>
        <div class="box">

            تابعنا على
            <div class="divider"></div>
            <div class="social-icons">
                <span>
                    <img src="assets/instagram.svg" alt="Icon">
                </span>
                <span class="social-icon">
                    <img src="assets/linkedin.svg" alt="linkedin">

                </span>
                <span class="social-icon">
                    <img src="assets/twitter.svg" alt="twitter">
                </span>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="box">
            <p>
                جميع الحقوق محفوظة © 2024
            </p>

        </div>
    </div>
</div>